<h1>Notice Board</h1>
<p><a href="{% url 'new_notice' %}">Add new notice</a></p>
<ul>
    <li>
      <h2>{{ notice.title }}</h2>
      <p>{{ notice.text }}</p>
      <p>Contact: {{ notice.contact_number }}</p>
    </li>
</ul>
